<a (click)="onClose()" class="close-sidenav">
  <mat-icon>close</mat-icon>
</a>
<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onClose()">
    <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/home" (click)="onClose()">
    <mat-icon>note_add</mat-icon><span class="nav-caption">Task</span>
  </a>
  <a mat-list-item routerLink="/home" (click)="onClose()">
    <mat-icon>manage_accounts</mat-icon><span class="nav-caption">Profile</span>
  </a>
  <a mat-list-item routerLink="/home" (click)="onLogOut()">
    <mat-icon>logout</mat-icon><span class="nav-caption">Log out</span>
  </a>
</mat-nav-list>



