<div>
  <div class="image-container">
      <img mat-card-image src="/assets/homepage.png" alt="gl-homepage" style="object-fit:cover">
      <div class="home-image">
        <h1>Task manager for small teams</h1><br>
        <p>A is a simple to-do list for small companies or teams who
        work on daily scrums and have regular stand-ups! :)</p><br>
        <button type="submit" mat-button mat-raised-button color="primary"><a routerLink="/signup">Lets get started!</a> </button>
      </div>
    </div>
</div>
